@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    background: #F5F0F0;
}

#__next {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
    background: #F5F0F0;
}